@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

nav{
    width: 50%;
    height: 10vh;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-container .logo img{
    width: 80px;
}

.nav-container .links{
    display: flex;
}

.links .link{
    position: relative;
    margin: 0 10px;
    cursor: pointer;
}

.links .link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.links .link:hover::before{
    transform: scale(1.2);
    border-color: whitesmoke;
}

.links .link a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
}

section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section .content{
    width: 35%;
    color: white;
}

.content h2{
    color: #d2911c;
    font-size: 1.2rem;
    font-weight: 800;
}

.content h1{
    font-size: 4.5rem;
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
}

.content h1 span{
    font-size: 5rem;
    color: #d2911c;
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
}

.content hr{
    width: 35%;
    height: 4px;
    border: none;
    margin: 10px 0;
    background:linear-gradient(to right, #d2911c, #49340f) ;
}

.content .icons{
    width: 70%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.icons div{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons div i{
    color: #d2911c;
    margin-right:10px ;
    font-size: 3rem;
}

section .image img{
    width: 700px;
    transform: translate(400px,400px);
}