*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

nav{
    width: 100%;
    height: 10vh;
}

nav .nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container .logo img{
    width: 60px;
    height: 20px;
}

.nav-container .links{
    display: flex;
}

.nav-container .links .link a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 0.9rem;
    transition: 0.2s linear;
}

.nav-container .links .link a:hover{
    color: #e82a54;
}

.nav-container .search,
.nav-container .shop{
    color: white;
}

section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section .main-container{
    width: 35%;
    color: white;
}

.main-container .heading{
    font-size: clamp(1rem, 1rem + 5vw, 3rem);
    letter-spacing: -3px;
}

.main-container .star{
    color: #f2d733;
    font-size: 1.3rem;
    margin: -5px 0 20px 0;
}

.main-container p{
    width: 90%;
    margin: 10px 0;
}

.main-container .sizes{
    width: 70%;
    height: 3vh;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .sizes div{
    border: 3px solid #5e6c9c;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.2s linear;
}

.main-container .sizes div:hover{
    background-color: #5e6c9c;
    border: 2px solid white;
    scale: 1.1;
}

.main-container button{
    width: 50%;
    height: 6vh;
    margin: 20px 0;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 20px;
    border: 3px solid #e82a54;
    background-color: #e82a54;
    color: white;
    transition: 0.2s linear;
}

.main-container button:hover{
    background-color: transparent;
    border: 3px solid #e82a54;
    color: #e82a54;
    box-shadow: 0 0 10px 1px #e82a54;
}

.image img{
    width: 700px;
    filter: drop-shadow(0 0 100px black);
}