*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav .logo{
    font-size: 1.5rem;
}

nav .links {
    display: flex;
}

nav .links a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 10px;
}

nav .links a:hover{
    text-decoration: underline;
}

nav .buttons{
    width: 250px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .buttons button{
    margin: 0 5px;
    width: 40%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    background-color: rgb(7,113,219);
    transition: 0.2s linear;
}

.buttons button:hover{
    color: rgb(7,113,219);
    background-color: transparent;
    border: 2px solid rgb(7,113,219);
    box-shadow: 0 0 10px 4px rgb(7,113,219);
}

section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 40%;
    text-align: center;
    color: white;
}

.content h1{
    font-size: 3rem;
    text-shadow: 0 0 7px white;
}


.content p{
    width: 60%;
    margin: 20px 20%;
}

.content button{
width: 40%;
height: 7vh;
border-radius: 10px;
background: rgb(7,113,219);    
border: none;
outline: none;
color: white;
cursor: pointer;
font-size: 1.2rem;
font-weight: 700;
transition: 0.2s linear;
}

.content button:hover{
    scale: 1.1;
    font-size: 1.3rem;
    background-color: transparent;
    backdrop-filter: brightness(40%);
    color: rgb(7,113,219);
    border: 1px solid rgb(7,113,219);
    box-shadow: 0 0 10px 3px rgb(7,113,219);
}

